@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product 1</h2>
        <p>
            Dell Latitude 5480 Business Laptop, 14 Inch FHD Touchscreen (Intel Core 7th Generation i5-7300U, 8GB DDR4, 256GB SSD) Windows 10 Pro (Renewed)
        </p>
        <img src="~/Images/Product1.jpg" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product 2</h2>
        <p>Dell XPS 13 9360 13.3in Full HD Anti-Glare InfinityEdge Display (non-touch) Laptop - Silver, Intel Core i5-8250U, 8GB LPDDR3-1866, 256GB Solid State Drive SSD (Renewed)</p>
        <img src="~/Images/Product2.jpg" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product 3</h2>
        <p> Azpen G1058 10.1" 4G LTE Quad Core Android Unlocked Tablet with Bluetooth GPS Dual Cameras</p>
       
        <img src="~/Images/Product3.jpg" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>